{{ define "main" }}
<h1>{{ .Title }}</h1>
<div class="posts-cards">
    {{ range sort .Pages "Date" "asc"}}
    <a href="{{ .RelPermalink }}">
        <div class="post-card">
            <div class="post-card-title">{{ .Title }}</div>
            <div class="post-card-content">
                {{ with .Params.description }}{{ . }}{{ end }}
            </div>
            <div class="big-year-card-content">
                {{ .Date.Format "02-01-2006" }}
            </div>
        </div>
    </a>
    {{ end }}
</div>
{{ end }}
